<ion-header >
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
      
    </ion-buttons>
    <ion-title class="ion-text-capitalize ion-text-center" mode="md"> Viajes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-item>
        
        <ion-select interface="popover" slot="start" placeholder="Comuna">
          <ion-select-option value="Concepción">Concepción</ion-select-option>
          <ion-select-option value="Talcahuano">Talcahuano</ion-select-option>
          <ion-select-option value="San Pedro de la Paz">San Pedro de la Paz</ion-select-option>
          <ion-select-option value="Chiguayante">Chiguayante</ion-select-option>
          <ion-select-option value="Hualpén">Hualpén</ion-select-option>
          <ion-select-option value="Penco">Penco</ion-select-option>
          <ion-select-option value="Lota">Lota</ion-select-option>
          <ion-select-option value="Coronel">Coronel</ion-select-option>
          <ion-select-option value="Talcahuano">Talcahuano</ion-select-option>
          <ion-select-option value="Florida">Florida</ion-select-option>
          <ion-select-option value="Santa Juana">Santa Juana</ion-select-option>
          <ion-select-option value="Santo Domingo">Santo Domingo</ion-select-option>
          <ion-select-option value="Bío Bío">Bío Bío</ion-select-option>
        </ion-select>
     
    </ion-item>
    <ion-item >
      <ion-select interface="popover" slot="start" placeholder="Sector">
        <ion-select-option value="Plaza de la Independencia">Plaza de la Independencia</ion-select-option>
        <ion-select-option value="Catedral de Concepción">Catedral de Concepción</ion-select-option>
        <ion-select-option value="Parque Ecuador">Parque Ecuador</ion-select-option>
        <ion-select-option value="Universidad de Concepción">Universidad de Concepción</ion-select-option>
        <ion-select-option value="Mall Plaza El Trébol">Mall Plaza El Trébol</ion-select-option>
        <ion-select-option value="Cerro Caracol">Cerro Caracol</ion-select-option>
        <ion-select-option value="Barrio Universitario">Barrio Universitario</ion-select-option>
        <ion-select-option value="Paseo Peatonal">Paseo Peatonal</ion-select-option>
        <ion-select-option value="Sector Costanera">Sector Costanera</ion-select-option>
      </ion-select>
    </ion-item>
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card>
          <img alt="Silhouette of mountains" src="assets/img/centro_concepcion.png" />
          <ion-card-header>
            <ion-card-title>Concepcion</ion-card-title>
            <ion-card-subtitle>Centro de Concepcion</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Asientos disponibles: 2
            <hr>
            Precio: $1.200
          </ion-card-content>
        
          <ion-button href="/vista-detalle-viaje" expand="block" fill="clear">Ver viaje</ion-button>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card>
          <img alt="Silhouette of mountains" src="assets/img/centro_concepcion.png" />
          <ion-card-header>
            <ion-card-title>Concepcion</ion-card-title>
            <ion-card-subtitle>Centro de Concepcion</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Asientos disponibles: 1
            <hr>
            Precio: $800
          </ion-card-content>
        
          <ion-button href="/vista-detalle-viaje" expand="block" fill="clear">Ver viaje</ion-button>
        </ion-card>
      </ion-col>     
    </ion-row>
  </ion-grid>
  
</ion-content>

