<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
      
    </ion-buttons>
    <ion-title class="ion-text-capitalize ion-text-center" mode="md"> Crear auto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nuevo auto</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="image-container">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/2019_Toyota_Corolla_Icon_Tech_VVT-i_Hybrid_1.8.jpg/1200px-2019_Toyota_Corolla_Icon_Tech_VVT-i_Hybrid_1.8.jpg"  >
      </div>
      <ion-item>
        <ion-label position="floating">Marca</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Modelo</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Patente</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Numeros de asientos</ion-label>
        <ion-input slot="end" type="number" value="1" min="1" max="10" id="asientosDisponibles" readonly></ion-input>
        <ion-buttons slot="end">
          <ion-button (click)="incrementSeats()">
            <ion-icon name="arrow-up"></ion-icon>
          </ion-button>
          <ion-button (click)="decrementSeats()">
            <ion-icon name="arrow-down"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Alias</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-button expand="full" color="primary">
        Guardar Auto
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
