<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
      
    </ion-buttons>
    <ion-title class="ion-text-capitalize ion-text-center" mode="md"> Detalle Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <img src="assets/img/centro_concepcion.png" alt="Imagen del viaje" class="viaje-imagen" />

    <ion-card-header>
      <ion-card-title>Datos del Viaje</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Destino:</ion-label>
        <ion-note slot="end">Concepción / Mall del centro</ion-note>
      </ion-item>
      
      <ion-item>
        <ion-label>Fecha y Hora:</ion-label>
        <ion-note slot="end">2024-09-30 10:00 AM</ion-note>
      </ion-item>
      
      <ion-item>
        <ion-label>Asientos Disponibles:</ion-label>
        <ion-note slot="end">1</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Precio:</ion-label>
        <ion-note slot="end">$1.200</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Estado:</ion-label>
        <ion-note slot="end">
          <span class="estado aceptado">Disponible</span>
        </ion-note>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Anfitrion</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png" alt="Ocupante 1" />
          </ion-avatar>
          <ion-label>Luis Ilufin </ion-label>
          <ion-button fill="clear">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-button>
          <ion-button fill="clear" slot="end">
            <ion-icon name="call"></ion-icon>
          </ion-button>
        </ion-item>
    
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ocupantes</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png" alt="Ocupante 1" />
          </ion-avatar>
          <ion-label>Juan Mora </ion-label>
        </ion-item>
        
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png" alt="Ocupante 2" />
          </ion-avatar>
          <ion-label>Jose Luis Perez</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png" alt="Ocupante 3" />
          </ion-avatar>
          <ion-label>Jose Vasquez</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" color="primary" class="ion-margin-top">
    Pedir Viaje
  </ion-button>
</ion-content>

<style>
  .viaje-imagen {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .estado {
    font-weight: bold;
  }
  
  .aceptado {
    color: green;
  }

  .cancelado {
    color: red;
  }

  .retrasado {
    color: orange;
  }

  .denegado {
    color: darkred;
  }

  .terminado {
    color: blue;
  }
</style>
