ion-card {
    width: 100%;
    max-width: 400px; /* Ajusta este valor según el tamaño que prefieras */
  }
  
  @media (min-width: 768px) {
    ion-card {
        align-content: center;
        width: 60%; /* Ancho del card en pantallas más grandes */
        max-width: 600px; /* Máximo ancho */
    }
  }
  .viaje-imagen {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .estado {
    font-weight: bold;
  }
  
  .aceptado {
    color: green;
  }

  .cancelado {
    color: red;
  }

  .retrasado {
    color: orange;
  }

  .denegado {
    color: darkred;
  }

  .terminado {
    color: blue;
  }