<ion-content class="login-bg" fullscreen>
  <div class="login-logo">
  </div>

  
    <ion-card style="margin-top: 100px;">
      <ion-card-header>
        <ion-card-title>Reestablecer Contraseña</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form (ngSubmit)="onLogin()">
          <ion-item lines="none" class="input-item">
            <ion-label position="floating">Ingrese Contraseña</ion-label>
            <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
          </ion-item>

          <ion-item lines="none" class="input-item">
            <ion-label position="floating">Reingrese Contraseña</ion-label>
            <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
          </ion-item> 
          <ion-button href="/restablecerpass" expand="block">
            Reestablecer contraseña  
          </ion-button>      
        </form>     
      </ion-card-content>
    </ion-card>
</ion-content>